@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;700&display=swap');
:root {
    --bg-start: #2c35a2;
    --bg-end: #0f133b;
    --highlight-primary: #73fff5;
    --highlight-secondary: #cf0389;
    --transitions: 250ms ease-out;

}
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: white;
}

html {
    font-weight: 400;
    font-size: 18px;
    font-family: "Nunito", "sans-serif";
}

header {
    display: flex;

    justify-content: space-between;
}

.logo {
    display: flex;
    align-items: center;

    font-size: 2rem;
    text-transform: uppercase;
   
}

.logo > img {
    height: 3rem;
    margin-right: 1rem;
    
}

a {
    color: var(--fg-color);
    text-decoration: none;

}

nav > ul {
    display: grid;
    grid-auto-flow: column;
    grid-auto-columns: max-content;
    gap: 0.5rem;
    list-style-type: none;
}

nav > ul a {
    padding: 0.25rem 1.25rem ; 
    text-transform: uppercase;
    transition: color var(--transitions);
}

nav > ul a::after {
    content: '';

    position: absolute;
}

nav > ul a:hover {
    color: var(--highlight-secondary)
}

#heading-1 {
    margin-top: 70px;
    text-align: center;
}

#paragraph-1 {
    text-align: center;
}

.button {
    margin-left: 850px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
}

.button1 {
    background-color: black;
}